<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MUSIC APP </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/base.css">
    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

<div class="container">

    <div class="page-header">
    <h1><small><center>MUSIC APP </center></small></h1>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="text-center">
                Edit Track
                </h1>
            </div>
        </div>
        <div class="panel-body text-center">

                    <strong></strong>

        </div>

 <ul class="list-group list-group-flush text-center">
                <li class="list-group-item" style="height: 50px;">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">

                            Track Name :  {{ form.track_name }}

                        </div>
                        <div class="rating" id="rate1"></div>
                    </div>
                </li>
     <li class="list-group-item" style="height: 50px;">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">

                            Track Name :  {{ form.track_genre}}

                        </div>
                        <div class="rating" id="rate1"></div>
                    </div>
                </li>
     <li class="list-group-item" style="height: 50px;">
                    <div class="skillLineDefault">
                        <div class="skill pull-left text-center">

                            Track Name :  {{ form.track_rating }}

                        </div>
                        <div class="rating" id="rate1"></div>
                    </div>
                </li>
</ul>
        <div class="panel-body text-center">

                    <strong></strong>

        </div>
        <div class="panel-footer text-center">
            <center> <input type="submit" value="submit" class="btn btn-primary btn-lg btn-block" style="width: 40%;">
       </center>

            </div>


</form>
</div>

</body>
</html>